<div class="container mt-5">
    <div class="row mt-1">
        <h2>Edit user</h2>
    </div>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="row mb-3">
            <div class="mt-3">
                <img class="img-thumbnail rounded" src="{{imagePath}}">
            </div>

        </div>
        <div class="row">
            <div class="col-2">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="name" placeholder="Title" formControlName="title">
                </div>
            </div>
            <div class="col-5">
                <div class="mb-">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="E-mail" formControlName="email">
                    <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" class="form-control" id="phone" placeholder="Phone" formControlName="phone">
                </div>
            </div>
            <div class="col-2">
                <div class="mb-3">
                    <label for="cell" class="form-label">Cell</label>
                    <input type="text" class="form-control" id="cell" placeholder="CellPhone" formControlName="cell">
                </div>
            </div>
            <div class="col-2">
                <div class="mb-3">
                    <label for="phone" class="form-label">Document Type</label>
                    <input type="text" class="form-control" id="email" placeholder="DocumentType"
                        formControlName="documentType">
                </div>
            </div>
            <div class="col-2">
                <div class="mb-3">
                    <label for="phone" class="form-label">Document Value</label>
                    <input type="text" class="form-control" id="documentValue" placeholder="DocumentValue"
                        formControlName="documentValue">
                </div>
            </div>
            <div class="col-2">
                <div class="mb-3">
                    <label for="birthDate" class="form-label">BirthDate</label>
                    <input type="text" class="form-control" id="birthDate" placeholder="Birth Date"
                        formControlName="birthDate">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="mb-3">
                    <label for="street" class="form-label">Street</label>
                    <input type="text" class="form-control" id="street" placeholder="Street" formControlName="street">
                </div>
            </div>
            <div class="col-1">
                <div class="mb-3">
                    <label for="number" class="form-label">Number</label>
                    <input type="text" class="form-control" id="number" placeholder="Number" formControlName="number">
                </div>
            </div>
            <div class="col-2">
                <div class="mb-3">
                    <label for="State" class="form-label">State</label>
                    <input type="text" class="form-control" id="state" placeholder="State" formControlName="state">
                </div>
            </div>
            <div class="col-2">
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" class="form-control" id="country" placeholder="Country"
                        formControlName="country">
                </div>
            </div>
            <div class="col-2">
                <div class="mb-3">
                    <label for="city" class="form-label">City</label>
                    <input type="text" class="form-control" id="city" placeholder="City" formControlName="city">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="mb-3">
                    <label for="postCode" class="form-label">Post Code</label>
                    <input type="text" class="form-control" id="postCode" placeholder="City" formControlName="postCode">
                </div>
            </div>
            <div class="col-2">
                <div class="mb-3">
                    <label for="latitude" class="form-label">Latitude</label>
                    <input type="text" class="form-control" id="latitude" placeholder="Latitude"
                        formControlName="latitude">
                </div>
            </div>
            <div class="col-2">
                <div class="mb-3">
                    <label for="longitude" class="form-label">Longitude</label>
                    <input type="text" class="form-control" id="longitude" placeholder="longitude"
                        formControlName="longitude">
                </div>
            </div>
            <div class="col-2">
                <div class="mb-3">
                    <label for="timeZone" class="form-label">Time Zone</label>
                    <input type="text" class="form-control" id="timeZone" placeholder="timeZone"
                        formControlName="timeZone">
                </div>
            </div>
            <div class="col-2">
                <div class="mb-3">
                    <label for="timeZoneOffset" class="form-label">TimeZone OffSet</label>
                    <input type="text" class="form-control" id="timeZone" placeholder="timeZoneOffset"
                        formControlName="timeZoneOffset">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="mb-3">
                    <label for="userName" class="form-label">UserName</label>
                    <input type="text" class="form-control" id="userName" placeholder="UserName"
                        formControlName="userName">
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="userName" placeholder="UserName"
                        formControlName="password">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <button type="submit" class="btn btn-success">Atualizar</button>
            </div>

        </div>

    </form>

</div>